!!! 5

%html
	%head
		%meta(name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1")	
		%title Shaun Donnelly	
		%link(rel="stylesheet" href="css/global.css" type="text/css")
		%link(rel="stylesheet" href="http://fonts.googleapis.com/css?family=Open+Sans:400,300,700" type="text/css")

	
	%body
		.full-width.filled	
			.container
				%h1 Title Text	
				%p Place your intro text here.
				
			
		.container
			%ul.gridlist
				%li
					%a(href="#") One
				%li
					%a(href="#") Two
				%li
					%a(href="#") Three
				%li
					%a(href="#") Four
				%li
					%a(href="#") ..etc

	
